.button
    display: block
    width: 230px
    height: 55px
    text-align: center
    line-height: 53px;
    background: #000
    color: #fff
    border: none
    transition: 0.4s all
    border-radius: 4px
    margin-top: 20px
    &:hover
        box-shadow: 8px 12px 12px rgba(165, 106, 253, 0.35)
    
    &__modal
        margin-top: 10px